*{
    font-family:sans-serif,'Courier New', Courier, monospace;
}

body{
    background-color: rgb(244, 245, 244);
}


h1 {
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 25px;
    font-weight: 200;
}
hr {
    border: none;            /* Remove default border */
    height: 2px;              /* Adjust the thickness */
    background-color: black;  /* Change the color to black */
    margin: 20px 0;           /* Adjust spacing around the line */
}


.container {
    margin: 0px 20% ;
    padding: 20px 15px 0 ;

}

.form-inline {
    color: black;
    margin: 0px auto 30px;
    text-align: center;

}

.form-inline-search {
    padding: 6px 12px;
    font-size: 18px;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid rgb(232, 232, 232);
}

.form-inline-button {
    height: 36px;
    width: 80px;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* background-color: rgb(250, 180, 49); */
    border: 1px solid grey;
    border-radius: 100px;

}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 10%;
}

.nav-link {
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: black;
}

.nav-link:hover{
    color: rgb(2, 203, 126);
}



/* Main */

main {
    margin: 0px 28%;
    padding: 0 15px;
}

.main-heading{
    text-align: center;
    font-size: large;
}

.food-category h2{
    color:black;
}



.food-container {
    display: flex;
    padding: 15px;
    gap:15px;
    text-align: center;
    /* box-sizing: border-box ; */
    /* overflow-x: auto; */
    max-width: 100%;
    justify-content: space-evenly;
}

.food-item-container{
    border: 2px solid rgb(246, 246, 246);
    border-radius: 10px;
  
    box-shadow: 2px 2px 8px black;
    transition: transform 1s ease-in-out;
}

.food-item-container:hover{
    transform: scale(1.1,1.1) translate(-5px, -20px) ;

}

.food-item{
    text-decoration: none;
    color: rgb(26, 37, 27);
       
}

.food-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding: 15px;
}

.food-item span{
    text-align: center;
    font-size: large;
    
}



/* Footer */


.foot{
    margin: 0px 20%;
    padding: 5px 15px;
    background-color: rgb(32, 28, 28);
    color: white;
    text-align: center;
    font-weight: normal;
}